@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap'); 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.footer{
    background-color: rgb(70, 64, 64);
    width: 100%;
    height: 160px;
}

.footer li{
    margin-left: 400px;
    color: aliceblue;
    list-style-type: none;
}

.footer li{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
