#pozaMeniuPizza{
    width: 700px;
    height: 470px;
    border-radius: 1rem;
    margin-left: 200px;
}

#pozeDreapta {
    width: 700px;
    height: 230px;
    border-radius: 1rem;
}

.content{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.col{
   flex:50%;
   margin-top: 100px;
}
.col img{
    width:100%;
    margin-top: 8px;
    vertical-align: middle;
} 

.zoom {
    overflow: hidden;
    margin: 0 auto;
}
  
.zoom img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.zoom:hover img {
    transform: scale(0.95); 
  }

.pozaHome img{
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
}